body {
    font-family: Montserrat;
}

p {
    font-size: 1.1rem;
}

h3 {
    margin: 25px 0;
}


.navbar-brand {
    font-size: 1.8rem;
    color: #5f6368;
}

.intro-navbar {
    color: #5f6368;
}

.nav-btm-line {
    height: 10px;
    margin: 0;
    color: #5f6368;
     
}

#tools {
    margin: 20px 10%;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #e8f0fe;
    
}

.tools-intro {
    margin: 60px 0;
}

.selector-heading {
    margin: 30px 0 5px 0;
    font-size: 4rem;
}

.tool-desc-line {
    margin: 0 10px;
}


.format-shower {
    text-align: center;
    margin: 0;
}
.expression-field {
    width: 300px;
    border-radius: 5px;
    margin: 30px 0 10px 0;
    padding: 0 5px;
    height: 50px;
}
.btn-seperator {
    width: 50%;
    margin: 0 25% 30px 25%;
}

.conv-btn {
    margin: 5px 10px;
}

.results-conversion,
.results-evaluation
{
    display: inline-block;
    width: 30%;
    margin: 30px 0;
    font-size: 18px;
}

.postfix-answer-text,
.prefix-answer-text,
.postfix-eval-text,
.prefix-eval-text
{
    font-weight: bold;
}

.prefix-answer-text {
    font-weight: bold;
}

.contributor {
    margin: 10px 0;
    padding: 10px 0;
}

.contributor-name {
    font-size: 0.8rem;
}






/* MY CSS */
.operation {
    font-size: 20px;
}